*, *::before, *::after {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body, .weather-app, header, 
.current-weather-container, 
.current-weather, 
.current-temperature, 
.weather-forecast-data {
  display: flex;
}

body, .current-weather-container, 
.current-temperature, 
.weather-forecast-information,
.weather-forecast-data {
  justify-content: center;
  align-items: center;
}

body {
  margin-top: 3.5rem;
  padding: 0.45rem;
  background-color: #e7ecef;
}

.weather-app, 
.current-weather,
.weather-forecast-data {
  flex-direction: column;
}

.weather-app {
  width: 750px;
  padding: 1rem 1.3rem;
  border-radius: 8px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  background-color: #218380;
}

header {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
} 

header, .current-weather-container,
.weather-forecast-information {
  width: 100%;
}

.weather-app, header, 
.current-weather-container,
.current-weather, .current-temperature,
.weather-forecast-information,
.weather-forecast-data, footer {
  max-width:  100%;
}

header, 
.search-input, footer {
  padding: 1rem;
}

.logo {
  width: 145px;
  height: 45px;
}

.search-input {
  width: 70%;
  outline: none;
  border: 0.45px silver solid;
  border-radius: 5px;
  margin-right: 0.5rem;
  background-color: transparent;
}

.search-input,
.search-input::placeholder {
  font-size: 15px;
  color: #000;
}

.search-button {
  font-size: 24px;
  display: inline-block;
  width: 55px;
  height: 55px;
  outline: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ecf8f8;
}

.current-weather-container {
  flex-wrap: wrap;
  gap: 10px;
  padding: 1rem 0.5rem;
  margin: 1rem 0;
}

h1 {
  font-size: clamp(45px, 1vw, 30px);
}

h1, .current-details,
.weather-forecast-data,
footer {
  text-align: center;
}

.current-weather {
  gap: 15px;
  padding: 0.5rem;
}

.current-weather, 
.current-temperature {
  flex: 1;
}

.current-details {
  font-size: 15px;
  text-transform: capitalize;
  padding: 0.5rem;
}

.current-details, 
.weather-forecast-data {
  line-height: 2;
}

.humidity-level,
.wind-speed {
  font-weight: bold;
}

.current-temperature {
  padding: 1rem 0;
}

.current-temperature-value {
  font-size: clamp(80px, 1vw, 30px);
}

.current-temperature-unit {
  font-size: 45px;
  position: relative;
  top: -25px;
}

.weather-forecast-information {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
}

.weather-forecast-data {
  font-size: clamp(15px, 2vw, 13px);
  font-weight: bold;
  border-radius: 8px;
  background-color: #cce3de;
  backdrop-filter: blur(15px);
  padding: 0.5rem 0.15rem;
}
 
.weather-forecast-icon {
  width: 50px;
  height: 50px;
  max-height: 100%;
}

footer {
  font-size: 13px;
  margin: 1rem 0;
}

footer a {
  color: lightgrey;
  text-decoration: none;
}